
* {
    box-sizing: border-box;
}

main{
width: 1050px;
background-image: url(https://wallpapercave.com/wp/wp2945994.jpg);
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: auto;

}


h2{
    color: white;
  } 
  p{
    color: white;
  
  }
  .dropdown {
      
      overflow: hidden;
    }
    
  #h2{
    color: black;
  }  
  .dropdown .dropbtn {
    color: black;
    font-size: 16px;
    background-color : rgba(201, 223, 230, 0.377);
    padding: 25px 50px;
    box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
  border: 0px;
       padding: 25px 50px;
      font-family: inherit;
      transition: 250ms;
    }
  
  .dropbtn:hover {
    background-color: rgb(172, 0, 86);;  
  }    
    
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgba(201, 223, 230, 0.377);
      min-width: 160px;
      width: fit-content;
      margin-left:5px;
      z-index: 1;
    }
  
  .dropdown-content a{
      padding: 20px;
      color: black;
  }
  
  .dropdown-content a:hover {
      background-color: rgb(172, 0, 86);;
    }
    
  .dropdown:hover .dropdown-content {
      display: grid;
      grid-template-rows: repeat(auto,4);
      text-align: center;
      gap: 2px;
      padding: 20px 0px;
    }
  
    /* ************************ Header *************************  */
  
  header {
      width: 100%;
      display: flex;
      /* grid-template-columns: 200px auto;
      align-items: center; */
      justify-content: space-between;
      align-items: center;
     
      margin-bottom: 40px;
  }
  nav{
      display: grid;
      width:700px;
      grid-template-columns: auto auto auto auto;
      gap:5px ;
  }
  
  .logoImg {
      width: 200px;
      height: 200px;
  }
  
  .link{
       color: black;
       font-size: 16px;
       background-color : rgba(201, 223, 230, 0.377);
       padding: 25px 50px;
       box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
  } 
  
  a{
      text-decoration: none;
      transition: 250ms;
  }
  
  a:hover{
      background-color: rgb(172, 0, 86);  
  
  }
  
  h1{
    color:white;
  }
  
  footer {
    width: 100%;
    height: 100px;
    border-top: 2px solid black;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
}

footer p {
  color: black;
}

div h2  {

color: black;
font-size: 60px;

}