* {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: auto;
  /* background-image: url(../img/Hero\ 5.jpg); */
  /* background-image: url(/img/Thailand/Doi\ Inthanon\ National\ Park\,\ Ban\ Luang\,\ Thailand.jfif); */
  background-size:100% 800px;
  background-repeat: no-repeat;
  
  
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;900&display=swap');

/* *******************************drop down menu ********************* */






h2{
color: white;
} 
p{
color: white;

}
.dropdown {
    
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    
    width: 65px;

  }
  
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  
  width: 65px;

}

#h2{
color: black;
}  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    /* outline: none; */
    color: white;
    
    
    background-color : rgba(0, 132, 172, 0.377);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    
    font-family: inherit;
    transition: 250ms;

    width: 100%;
    height: 58px;
  }

.dropbtn:hover {
background-color: rgb(0, 132, 172);  
}    

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 132, 172, 0.377);
  min-width: 151px;
  width: fit-content;
  margin-left: 0px;
  z-index: 1;
  font-size: 19px;
  }

.dropdown-content a{
  padding: 20px;
  color: white;
}

.dropdown-content a:hover {
  background-color: rgb(0, 132, 172);
}

.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-rows: repeat(auto,4);
  text-align: center;
  gap: 2px;
  padding: 20px 0px;
}

/* ************************ Header *************************  */

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #ffffff21;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;

}
nav{
    display: grid;
    width:700px;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-right: 15px;
}

.logoImg {
  width: 200px;
  height: 200px;
}

.link{
  color: cornsilk;
    font-size: 23px;
    background-color: rgba(0, 132, 172, 0.377);
    height: 58px;
    text-align: center;
    align-content: center;
    width: 200px;
    padding-top: -17px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    align-items: center;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
} 

header a{
  text-decoration: none;
  transition: 250ms;
}

header a:hover{
  background-color: rgb(0, 132, 172);  

}

h1{
color:white;
}

/* ******************************* Footer ************************* */

footer {
  width: 100%;
  height: auto;
  border-top: 2px solid black;
  padding: 20px;
  background-image: url(../img/footer\ img.jpg);
  object-fit: cover;
  background-size: cover;
  color: white;
}

#information {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
}
.contactUs {
margin-left: 100px;
line-height: 10px;
}
.contactUs li {
width: 50px;
height: 50px;
font-size: 40px;
}

footer h3 {
font-size: 30px;
}

.about p {
font-size: 20px;
}



.copyRight {
text-align: center;
align-items: center;
line-height: 5px;
border-top: 5px solid white;
width: 300px;
margin: 50px auto 0px auto;
}

#pageName {
font-size: 25px;
}

#copyRightSt {
font-size: 20px;
text-transform: capitalize;
}

/* ///////////////////////////////////////////////////////////////////////////// */


/* ********************** Slider *********************************  */

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto 215px;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ sliders section $$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
  
  #mainSection {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 100%;
  }
  
  .sectionTwoDiv {
    /* width: 600px; */
    align-content: center;
  }
  .likeImg{
    height: 75px;
    width: 75px;
    margin-left: 40px;
  }
  /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 1 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
  
  #radio10:checked ~ .first{
    margin-left: 0;
  }
  
  #radio20:checked ~ .first{
    margin-left: -20%;
  } 
  
  #radio30:checked ~ .first{
    margin-left: -40%;
  } 
  
  #radio40:checked ~ .first{
    margin-left: -60%;
  }
   
  
  /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 2 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
  #radio11:checked ~ .first{
    margin-left: 0;
  }
  #radio21:checked ~ .first{
    margin-left: -20%;
  }
  #radio31:checked ~ .first{
    margin-left: -40%;
  }
  #radio41:checked ~ .first{
    margin-left: -60%;
  } 
  /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 3 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
  #radio12:checked ~ .first{
    margin-left: 0;
  } 
  #radio22:checked ~ .first{
    margin-left: -20%;
  } 
  #radio32:checked ~ .first{
    margin-left: -40%;
  }
  #radio42:checked ~ .first{
    margin-left: -60%;
  }
  /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 4 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
  #radio13:checked ~ .first{
    margin-left: 0;
  } 
  #radio23:checked ~ .first{
    margin-left: -20%;
  } 
  #radio33:checked ~ .first{
    margin-left: -40%;
  } 
  #radio43:checked ~ .first{
    margin-left: -60%;
  } 
 