@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



form{
    background-color: rgba(128, 128, 128, 0.808);
    padding: 20px 40px;
    width: 1000px;
    margin: 10px auto;
    border-radius: 5px;

}

.div1{
    background-color: transparent;
    border: none;
    /* border-style:  outset; ; */
    align-items: center;
    align-content: center;
    /* 
    width: 100%; */
    /* padding-left: 70px; */
    height: 100%;
}
h2{
   color: rgb(108, 108, 202);
   text-align: center;
}
h3{
    color: rgb(108, 108, 202);
 }
 
 label {
    font-family: 'Open Sans', sans-serif;
  color:rgb(80, 79, 79);
 }


body {
/* margin: auto; */
width: 100%;
height: 100%;

/* background-position: center center;
background-size: cover;

backface-visibility: hidden; */
background-repeat: no-repeat;
background-image: url('/img/Hero2.jfif');
/* object-fit: cover; */

/* animation: slideBg 13s linear infinite 0s;
animation-timing-function: ease-in-out; */
/* background-image: url(./../img/new4.jfif); */

}
 
/* @keyframes slideBg {


   0% {
       background-image: url(/img/sky/photo-1499063078284-f78f7d89616a.jfif);
   }

   15% {background-image: url(/img/sky/photo-1500835556837-99ac94a94552.jfif);}

  30% {background-image: url(/img/sky/photo-1544194272-a90c2d13cf9e.jfif);}

45% {background-image: url(../img/sea.jfif);}

60% { background-image: url(../img/sky.jfif);}
75% {background-image: url(../img/new.jfif);}

900% {background-image: url(../img/new2.jfif);}

100% {background-image: url(../img/new3.jfif);}



} */
input[type="text"],
/* span {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    /* border: 2px solid #666; */
    /* box-sizing: border-box; */
    /* padding: 0.5em 1em; /
} */

input[type="text"] {
    width: 950px;
    height: 50px;
    padding: 0.5em 1em;
    border: none;
    border-bottom:1px solid gray;
    background-color: white;
    text-decoration: underline;
    color: #555;
    /* border-radius: 2em; */
    outline: 0;
    margin: 1px 1%;
    border-radius: 5px;
}

input[type="text"]:focus {
    /* border-color: #ff7996; */
}

span {
    position: absolute;
    left: -9999px;
    display: inline-block;
    min-width: 6em;
}
/* 
input{
    margin-left: 100px;
} */


input[type="date"],
span {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    /* border: 2px solid #666; */
    /* box-sizing: border-box; */
    /* padding: 0.5em 1em; */
}

input[type="date"] {
    width: 9em;
    padding: 0.5em 1em;

    color: #555;
    /* border-radius: 2em; */
    outline: 0;
}

input[type="date"]:focus {
    border-color: #ff7996;
}

span {
    position: absolute;
    left: -9999px;
    display: inline-block;
    min-width: 6em;
}

label{
    display: block;
    margin: 20px 20px;
}


select,
span {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    border: 2px solid #666;
    /* box-sizing: border-box; */
    /* padding: 0.5em 1em; */
}

select {
    width: 9em;
    padding: 0.5em 1em;

    color: #555;
    border-radius: 2em;
    outline: 0;
}
select:focus {
    border-color: #ff7996;
}

span {
    position: absolute;
    left: -9999px;
    display: inline-block;
    min-width: 6em;
}

input[type="number"],
span {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    border: 2px solid #666;
    /* box-sizing: border-box; */
    /* padding: 0.5em 1em; */
}

input[type="number"] {
    width: 9em;
    padding: 0.5em 1em;

    color: #555;
    border-radius: 2em;
    outline: 0;
}

input[type="number"]:focus {
    border-color: #ff7996;
}

span {
    position: absolute;
    left: -9999px;
    display: inline-block;
    min-width: 6em;
}



input[type="submit"],
span {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    border: 2px solid #666;
    /* box-sizing: border-box; */
    /* padding: 0.5em 1em; */
}

input[type="submit"] {
    width: 9em;
    padding: 0.5em 1em;

    color: #555;
    border-radius: 2em;
    outline: 0;
}

input[type="submit"]:focus {
    border-color: #ff7996;
}

span {
    position: absolute;
    left: -9999px;
    display: inline-block;
    min-width: 6em;
}

.gender{
    display: inline;
}
input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 10px;
    padding: initial;
    border: initial;
}